.arrowSection {
    animation: smoothBounce 2s ease-in-out infinite;
    width: 60px;
    height: 30px;
    position: relative;
    z-index: 1;
    margin: 20px 0;
}

@keyframes smoothBounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30%);
    }
}