.header {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.header::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/images/image3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
    z-index: 0;
}

@media (max-width: 768px) {
    .header::before {
        background-attachment: scroll;
    }
}

.secondaryContainer {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 1) 100%);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}